.main{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, rgb(0 98 255 / 17%), rgb(0 98 255));
  height: 100vh;
  overflow: hidden;
  gap: 25px;
}
.main-header {
  padding: 2vh;
}

/* Extra Small (XS)*/
@media (max-width: 576px) {
  /* CSS styles for Extra Small screens */
}

/* Small (S) */
@media (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for Small screens */
}

/* Medium (M) */
@media (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for Medium screens */

 
}

/* Large (L) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for Large screens */
}


@media(min-width: 344px) and (max-width: 355px){
  .main{
    gap: 98px;
  }
}

@media(min-width: 360px) and (max-width: 412px){
  .main{
    gap: 100px;
  }
}
@media(min-width: 413px) and (max-width: 991px){
  .main{
    gap: 85px;
  }
}



/* Extra Large (XL) */
@media (min-width: 1200px) {
  /* CSS styles for Extra Large screens */
  .main-header{
    padding: 33px 0 0 107px
  }
}
