.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(142, 210, 232); */
    text-align: center;
    font-size: calc(12px + 2vmin);  
    color: white;
    background-image: linear-gradient(to top, rgb(0 98 255 / 17%), rgb(0 98 255));
    min-height: 100vh;
    /* width: 50vh;
    padding: 5px;
    box-shadow: 5px 10px 8px 10px #888888; */
  }
  .main-header {
    /* background-color: green; */
    /* min-height: 35vh;   */
    padding: 2vh;
    /* background-image: image(''); */
  }
  .main-body {
    /* background-color: red; */
    height: 100%;
    width: 100%;
  }
  
  .main-logo {
    max-width: 100%;
    height: 100px;
    object-fit: contain;
  }
  
  @media only screen and (min-width: 430px) { 
    .main{
      width: 100%;
      /* padding: 2px; */
      box-shadow: none;
    }
    .main-header {
      min-height: 35vh;
    }
  
  }