.inputMain {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}
.inputField {
    border: 0;
    width: -webkit-fill-available;
    outline: none;
    font-size: large;
    height: 50px;
}
.icon {
    color: gray;
    padding: 0.8rem;
    font-size: large;
}


@media (min-width: 992px) and (max-width: 1199px) {
    /* CSS styles for Large screens */
    .inputField{
       font-size: larger;
    }
    .inputMain{
        width: 83vw;
    }
  }
  /* Extra Large (XL) */
@media (min-width: 1200px) {
    /* CSS styles for Extra Large screens */
    .inputMain{
        width: 83vw;
    }
    .inputField{
        font-size: medium;
    }
    .icon{
        font-size: medium;
    }
  }
  