.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(142, 210, 232); */
  text-align: center;
  font-size: calc(12px + 2vmin);  
  color: white;
  background-image: linear-gradient(to top, rgb(0 98 255 / 17%), rgb(0 98 255));
  min-height: 100vh;
  /* width: 50vh;
  padding: 5px;
  box-shadow: 5px 10px 8px 10px #888888; */
}
.App-header {
  /* background-color: green; */
  /* min-height: 35vh;   */
  padding: 2vh;
  /* background-image: image(''); */
}
.App-body {
  /* background-color: red; */
  height: 100%;
  width: 100%;
}

.App-logo {
  max-width: 100%;
  height: 100px;
  object-fit: contain;
}

@media only screen and (min-width: 430px) { 
  .App{
    width: 100%;
    /* padding: 2px; */
    box-shadow: none;
  }
  .App-header {
    min-height: 35vh;
  }

}